<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="Exnoremo" />
    <meta name="version" content="1.0.0" />
    <!-- favicon -->
    <link href="/images/favicon.ico" rel="shortcut icon">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <!-- Slider -->
    <link href="/css/tiny-slider.css" rel="stylesheet" />
    <!-- Tobii -->
    <link href="/css/tobii.min.css" rel="stylesheet" type="text/css" />
    <!-- Choice css -->
    <link href="/css/choices.min.css" rel="stylesheet" />
    <!--Material Icon -->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom  Css -->
    <link href="/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <a href="/" class="logo logo-light">
        <span href="/" class="logo-lg">
            <img href="/" src="/images/favicon.ico" alt="" height="100">
        </span>
    </a>
</head>