 <!-- Hero -->
 <section class="position-relative mt-5 pt-4">
    <div class="container-fluid px-md-4 px-2 mt-2">
        <div class="bg-home-one d-table w-100 shadow rounded-3 overflow-hidden" id="home">
            <div class="bg-overlay image-wrap" id="hero-images"></div>
            <div class="bg-overlay bg-black opacity-50"></div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="title-heading">
                            <p class="heading fw-bold text-white title-dark mb-3">Uygun Kitabı <br>
                                <span class="typewrite text-primary" data-period="2000"
                                    data-type='[ "hayalinizdeki", "ideal" ]'></span> Uygun Şekilde</p>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </div>
    </div><!--end container-->
</section><!--end section-->