
<!doctype html>
<html lang="tr">

<%- include('./partials/head') %>

<body>
   <%- include('./partials/header') %>

   <%- include('partials/bookList',{ books: books }) %>
    <%- include('partials/script') %>
</body>
</html>