<!doctype html>
<html lang="tr">

<%- include('./partials/head') %>

<body>
   <%- include('./partials/header') %>
   <section class="section">
  </section>
   
    <%- include('partials/script') %>
</body>
</html>